In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../calculated_signal.csv")

In [3]:
row = df.iloc[1000]

In [10]:
row

Unnamed: 0                                                           1000
longs                   ['RLC/USDT:USDT', 'QTUM/USDT:USDT', 'ONT/USDT:...
shorts                  ['HNT/USDT:USDT', 'ENJ/USDT:USDT', 'SAND/USDT:...
date                                            2021-08-07 20:00:00+00:00
SOL/USDT:USDT_LONG                                                      0
                                              ...
SAND/USDT:USDT_SHORT                                                    1
ENJ/USDT:USDT_LONG                                                      0
ENJ/USDT:USDT_SHORT                                                     1
XLM/USDT:USDT_LONG                                                      0
XLM/USDT:USDT_SHORT                                                     0
Name: 1000, Length: 148, dtype: object

In [14]:
row["shorts"]

"['HNT/USDT:USDT', 'ENJ/USDT:USDT', 'SAND/USDT:USDT', 'KAVA/USDT:USDT', 'ALGO/USDT:USDT']"

In [8]:
row["longs"]

"['RLC/USDT:USDT', 'QTUM/USDT:USDT', 'ONT/USDT:USDT', 'AVAX/USDT:USDT', 'OCEAN/USDT:USDT']"

In [15]:
row["HNT/USDT:USDT_SHORT"]

1

In [17]:
df[df["date"]=="2021-10-15 16:00:00+00:00"]

,Unnamed: 0,longs,shorts,date,SOL/USDT:USDT_LONG,SOL/USDT:USDT_SHORT,UNFI/USDT:USDT_LONG,UNFI/USDT:USDT_SHORT,KAVA/USDT:USDT_LONG,KAVA/USDT:USDT_SHORT,...,DASH/USDT:USDT_LONG,DASH/USDT:USDT_SHORT,COMP/USDT:USDT_LONG,COMP/USDT:USDT_SHORT,SAND/USDT:USDT_LONG,SAND/USDT:USDT_SHORT,ENJ/USDT:USDT_LONG,ENJ/USDT:USDT_SHORT,XLM/USDT:USDT_LONG,XLM/USDT:USDT_SHORT
1413,1413,"['RLC/USDT:USDT', 'UNFI/USDT:USDT', 'NEAR/USDT...","['REN/USDT:USDT', 'SAND/USDT:USDT', 'THETA/USD...",2021-10-15 16:00:00+00:00,0,1,1,0,0,1,...,0,0,0,0,0,1,0,0,1,0